<ion-header>
  <ion-toolbar class="toolbar-turquesa">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button> 
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="dark">{{bienvenida}}</ion-card-title>
    </ion-card-header>

    <form [formGroup]="usuario" (ngSubmit)="registroUsuario()">
      <ion-input formControlName="correo" type="text" labelPlacement="stacked" label="Correo Institucional"></ion-input>
      <ion-text *ngIf="usuario?.get('correo')?.hasError('required') && usuario?.get('correo')?.touched" color="danger">
        El correo es obligatorio.
      </ion-text>
      <ion-text *ngIf="usuario?.get('correo')?.hasError('pattern') && usuario?.get('correo')?.touched" color="danger">
        Formato de correo no válido.
      </ion-text>

      <ion-input formControlName="numero_celular" type="text" labelPlacement="stacked" label="Número de Celular"></ion-input>
      <ion-text *ngIf="usuario?.get('numero_celular')?.hasError('required') && usuario?.get('numero_celular')?.touched" color="danger">
        El número de celular es obligatorio.
      </ion-text>
      <ion-text *ngIf="usuario?.get('numero_celular')?.hasError('pattern') && usuario?.get('numero_celular')?.touched" color="danger">
        El número de celular debe tener el formato +569XXXXXXXX.
      </ion-text>

      <ion-input formControlName="rut" type="text" labelPlacement="stacked" label="RUT"></ion-input>
      <ion-text *ngIf="usuario?.get('rut')?.hasError('required') && usuario?.get('rut')?.touched" color="danger">
        El RUT es obligatorio.
      </ion-text>
      <ion-text *ngIf="usuario?.get('rut')?.hasError('rutInvalido') && usuario?.get('rut')?.touched && !usuario?.get('rut')?.hasError('required')" color="danger">
        El RUT ingresado es incorrecto. Verifique el número y el dígito verificador.
      </ion-text>

      <ion-input formControlName="nombre" type="text" labelPlacement="stacked" label="Nombre"></ion-input>
      <ion-text *ngIf="usuario?.get('nombre')?.hasError('required') && usuario?.get('nombre')?.touched" color="danger">
        El nombre es obligatorio.
      </ion-text>

      <ion-input formControlName="apellido" type="text" labelPlacement="stacked" label="Apellido"></ion-input>
      <ion-text *ngIf="usuario?.get('apellido')?.hasError('required') && usuario?.get('apellido')?.touched" color="danger">
        El apellido es obligatorio.
      </ion-text>

      <ion-input formControlName="contraseña" type="password" labelPlacement="stacked" label="Contraseña (Minimo 8 caracteres.)"></ion-input>
      <ion-text *ngIf="usuario?.get('contraseña')?.hasError('required') && usuario?.get('contraseña')?.touched" color="danger">
        La contraseña es obligatoria.
      </ion-text>

      <ion-input formControlName="rep_contraseña" type="password" labelPlacement="stacked" label="Repetir Contraseña"></ion-input>
      <ion-text *ngIf="usuario?.hasError('noCoinciden') && usuario?.get('rep_contraseña')?.touched" color="danger">
        Las contraseñas no coinciden.
      </ion-text>

      <ion-input formControlName="fecha_nacimiento" type="date" labelPlacement="stacked" label="Fecha Nacimiento"></ion-input>
      <ion-text *ngIf="usuario?.get('fecha_nacimiento')?.hasError('required') && usuario?.get('fecha_nacimiento')?.touched" color="danger">
        La fecha de nacimiento es obligatoria.
      </ion-text>
      <ion-text *ngIf="usuario?.get('fecha_nacimiento')?.hasError('menorDeEdad') && usuario?.get('fecha_nacimiento')?.touched" color="danger">
        Debes tener al menos 18 años para crear una cuenta.
      </ion-text>

      <ion-label>Tiene Vehiculo:</ion-label>
      <br>
      <ion-radio-group formControlName="tiene_vehiculo">
        <ion-radio value="si">Si</ion-radio>
        <ion-radio value="no">No</ion-radio>
      </ion-radio-group>

      <ion-input *ngIf="usuario.controls['tiene_vehiculo'].value == 'si'" formControlName="marca_vehiculo" type="text" label="Marca Vehiculo" labelPlacement="stacked"></ion-input>
      <ion-input *ngIf="usuario.controls['tiene_vehiculo'].value == 'si'" formControlName="modelo_vehiculo" type="text" label="Modelo Vehiculo" labelPlacement="stacked"></ion-input>
      <ion-input *ngIf="usuario.controls['tiene_vehiculo'].value == 'si'" formControlName="cant_asientos" type="text" label="Cantidad de Asientos (Minimo 4, Maximo 32)" labelPlacement="stacked"></ion-input>
      <ion-input *ngIf="usuario.controls['tiene_vehiculo'].value == 'si'" formControlName="patente" type="text" label="Patente del Vehiculo (Ej: bcfg10)" labelPlacement="stacked"></ion-input>
      <ion-input *ngIf="usuario.controls['tiene_vehiculo'].value == 'si'" formControlName="anio_inscripcion" type="text" label="Año de Inscripcion" labelPlacement="stacked"></ion-input>

      <ion-button id="present-alert" type="submit" size="block" class="toolbar-naranja">REGISTRAR</ion-button>
    </form>
  </ion-card>
</ion-content>
