.toolbar-turquesa {
  --background: #32c857; /* Color verde */
  --color: #f2f2f2;      /* Letra en color blanco */
}

.toolbar-naranja {
  --background: #32c857; /* Color verde */
  --color: #000000; /* Cambia el color del texto si es necesario */
}
