// Fondo general de la página
ion-content {
  --background: #f2f2f2;
}

// Encabezado
.header-toolbar {
  --background: #32c857;
}

.header-title {
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

// Estilo del contenedor del perfil
.perfil-container {
  text-align: center;
  margin-top: 20px;
}

// Estilo del avatar
.avatar-usuario {
  display: inline-block;
  margin-bottom: 20px;
  ion-icon {
    width: 120px;
    height: 120px;
    color: #32c8a3; // Azul personalizado
  }
}

// Estilo de la tarjeta del perfil
.perfil-card {
  border-radius: 15px;
  margin: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #333333; // Fondo gris oscuro para la tarjeta de perfil
  color: #dddddd; // Letra gris clara
}

// Estilo de la tarjeta de detalle del usuario
.detalle-card {
  border-radius: 15px;
  margin: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #333333; // Fondo gris oscuro para la tarjeta de detalles
  color: #dddddd; // Letra gris clara
}

// Título del perfil
.perfil-titulo {
  color: #dddddd; // Color gris claro para el título
  font-size: 1.2em;
  font-weight: 600;
}

// Tipo de usuario
.usuario-tipo {
  color: #dddddd; // Color gris claro para el tipo de usuario
}

// Estilo del botón "Guardar Cambios"
.guardar-button {
  font-weight: bold;
  color: #32c8a3;
}

// Estilo del botón "Editar Perfil"
.editar-button {
  font-weight: bold;
  color: #32c8a3;
}

// Estilo del botón "Cancelar"
ion-button[color="light"] {
  color: #555555;
  font-weight: bold;
}
