<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <ion-title class="header-title">Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="perfil-container">
    <!-- Icono de usuario -->
    <ion-avatar class="avatar-usuario">
      <ion-icon name="person-circle-outline" size="large"></ion-icon>
    </ion-avatar>

    <!-- Información del usuario -->
    <ion-card class="perfil-card">
      <ion-card-header>
        <ion-card-title *ngIf="!editando" class="perfil-titulo">{{ usuario.nombre }} {{ usuario.apellido }}</ion-card-title>
        <ion-card-title *ngIf="editando" class="perfil-titulo">
          <ion-label>Nombre:</ion-label>
          <ion-input [(ngModel)]="usuario.nombre" placeholder="Nombre"></ion-input>
          <ion-label>Apellido:</ion-label>
          <ion-input [(ngModel)]="usuario.apellido" placeholder="Apellido"></ion-input>
        </ion-card-title>
        <ion-card-subtitle>{{ usuario.tipo }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Correo: </ion-label>
            <ion-text *ngIf="!editando">{{ usuario.correo }}</ion-text>
            <ion-input *ngIf="editando" [(ngModel)]="usuario.correo" placeholder="Correo"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Celular: </ion-label>
            <ion-text *ngIf="!editando">{{ usuario.numero_celular }}</ion-text>
            <ion-input *ngIf="editando" [(ngModel)]="usuario.numero_celular" placeholder="Celular"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>RUT: </ion-label>
            <ion-text *ngIf="!editando">{{ usuario.rut }}</ion-text>
            <ion-input *ngIf="editando" [(ngModel)]="usuario.rut" placeholder="RUT"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Fecha de Nacimiento:</ion-label>
            <ion-text *ngIf="!editando">{{ usuario.fecha_nacimiento }}</ion-text>
            <ion-input *ngIf="editando" [(ngModel)]="usuario.fecha_nacimiento" placeholder="Fecha de Nacimiento"></ion-input>
          </ion-item>

          <ion-item *ngIf="editando">
            <ion-label>Tengo auto</ion-label>
            <ion-checkbox [(ngModel)]="tieneVehiculoCheckbox" 
              [checked]="tieneVehiculoCheckbox" 
              (ionChange)="toggleVehiculo($event)">
            </ion-checkbox>
          </ion-item>

          <ng-container *ngIf="tieneVehiculoCheckbox">
            <ion-item>
              <ion-label>Marca:</ion-label>
              <ion-input [(ngModel)]="usuario.marca_vehiculo" placeholder="Marca del vehículo"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Modelo:</ion-label>
              <ion-input [(ngModel)]="usuario.modelo_vehiculo" placeholder="Modelo del vehículo"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Patente:</ion-label>
              <ion-input [(ngModel)]="usuario.patente" placeholder="Patente del vehículo"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Cantidad de asientos:</ion-label>
              <ion-input [(ngModel)]="usuario.cant_asientos" type="number" placeholder="Cantidad de asientos"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Año de inscripción:</ion-label>
              <ion-input [(ngModel)]="usuario.anio_inscripcion" type="number" placeholder="Año de inscripción"></ion-input>
            </ion-item>
          </ng-container>
        </ion-list>

        <!-- Botones para editar y guardar perfil -->
        <ion-button expand="full" *ngIf="!editando" (click)="activarEdicion()" color="success" class="editar-button">Editar Perfil</ion-button>
        <ion-button expand="full" *ngIf="editando" (click)="confirmarGuardado()" color="success" class="guardar-button">Guardar Cambios</ion-button>
        <ion-button expand="full" *ngIf="editando" color="light" (click)="cancelarEdicion()">Cancelar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
