<ion-header>
  <ion-toolbar style="--background: #1F2235;">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <ion-title style="color: #32c8a3; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 600;">
        Detalle del Viaje
      </ion-title>
      <ion-button fill="clear" size="large" routerLink="/home/viajes">
        <ion-icon style="color: #32c8a3;" name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="detalle-card">
    <div id="map_html" style="height: 400px;"></div>

    <ion-card-header>
      
      <ion-card-title style="color: #32c8a3;" >Destino: {{viaje.nombre_destino}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
        <ion-label>Estado: {{viaje.estado?.toLowerCase() | titlecase}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Conductor: {{viaje.conductor}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="car-outline" slot="start"></ion-icon>
        <ion-label>Asientos Disponibles: {{viaje.asientos_disp}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="time-outline" slot="start"></ion-icon>
        <ion-label>Tiempo Estimado: {{viaje.tiempo_min}} minutos</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="cash-outline" slot="start"></ion-icon>
        <ion-label>Valor: {{viaje.monto | currency}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="alarm-outline" slot="start"></ion-icon>
        <ion-label>Hora salida: {{viaje.hora_salida}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-label>Pasajeros: {{ viaje.pasajerosNombres?.join(', ') || 'Ninguno' }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" shape="round" style="color: #000000;" (click)="tomarViaje()" *ngIf="!esConductor && puedeTomarViaje">
    Tomar viaje
  </ion-button>

  <ion-button expand="full" shape="round" style="color: #000000;" (click)="salirDelViaje()" *ngIf="!esConductor && !puedeTomarViaje">
    Salir de viaje
  </ion-button>

  <ion-button expand="full" shape="round" style="color: #000000;" (click)="cambiarEstado()" [disabled]="viajeTerminado"  *ngIf="esConductor">
    Cambiar Estado
  </ion-button>
</ion-content>
