<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalle del viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">detalle viaje</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content>
  <ion-card>
    <div id="map_detalle"></div>
    <ion-card-header>
      <ion-card-title>{{viaje.nombre_destino}}</ion-card-title>
      <ion-card-subtitle>Valor: {{viaje.valor | currency}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Si está de acuerdo con la ruta y la tarifa, presione "Tomar viaje"
    </ion-card-content>
    <ion-button size="block" (click)="tomar_viaje()">Tomar viaje</ion-button>
  </ion-card>
</ion-content>
