.viajes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); // Controla el ancho de cada tarjeta
    gap: 16px;
    padding: 16px;
  }
  
  .viaje-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  