<ion-header [translucent]="true">
    <ion-toolbar class="header-toolbar">
      <ion-title class="header-title">Viajes Disponibles</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card *ngFor="let v of viajes" class="viaje-card">
      <ion-item lines="none" class="viaje-item">
        <ion-label class="viaje-label">
          <h2 class="viaje-destino">{{v.nombre_destino}}</h2>
          <p class="viaje-info">Id Viaje: {{v.id}}</p>
          <p class="viaje-info">Conductor: {{v.conductor}}</p>
          <p class="viaje-info">Asientos disponibles: {{v.asientos_disp}}</p>
          <p class="viaje-info">Precio: {{v.monto | currency}}</p>
          <p class="viaje-info">Hora de salida: {{v.hora_salida}}</p>
          <ion-button [routerLink]="['/detalle-reserva', v.id]" expand="block" color="success" class="detalle-button">
            Ver Detalle
          </ion-button>
        </ion-label>
      </ion-item>
    </ion-card>
  
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-button *ngIf="usuario?.tiene_vehiculo == 'si'" expand="block" color="success" routerLink="/registro-viaje" class="add-button">
        Agregar viaje
      </ion-button>
    </ion-fab>
  </ion-content>
  